@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Manrope', 'Inter', 'Helvetica', sans-serif;
}

button,
input {
  font: inherit;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 240px;
}

img {
  width: 100%;
}

pre, code {
  font-family: 'Roboto Mono', 'IBM Plex Mono', monospace;
  font-size: 0.85rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  line-height: 1;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}